li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.nav-item :hover,
.nav-item .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}
